<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Supersonic</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}"> 

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/lucide@latest"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
</head>
<body>

   

    <div class="form-section">
        <div class="login-header">
            <div class="logo-area">
                <img src="{{ url_for('static', filename='img/logo.inicio.png') }}" alt="Logo" style="display: block; margin: 0 auto 10px auto; width: 180px; height: auto;">
            </div>



            <div class="welcome-text">
                <h2 style="margin-top: 0;">Nova Conta</h2>
                <br>
                <p>Preencha os dados abaixo para se cadastrar.</p>
            </div>
        </div>

        <form id="registerForm" action="/cadastrar" method="POST">
            
            <div class="input-group">
                <label for="nome">Nome Completo</label>
                <div class="input-wrapper">
                    <i data-lucide="user" class="input-icon" size="20"></i>
                    <input type="text" id="nome" name="nome" placeholder="Seu nome aqui" required>
                </div>
            </div>

            <div class="input-group">
                <label for="email">E-mail Corporativo</label>
                <div class="input-wrapper">
                    <i data-lucide="mail" class="input-icon" size="20"></i>
                    <input type="email" id="email" name="email" placeholder="nome@ssonic.com.br" required>
                </div>
            </div>

            <div class="input-group">
                <label for="usuario_rodopar">Usuário do Rodopar</label>
                <div class="input-wrapper">
                    <i data-lucide="user-check" class="input-icon" size="20"></i>
                    <input type="text" id="usuario_rodopar" name="usuario_rodopar" placeholder="Digite o usuário do sistema" required>
                </div>
            </div>
        
            <div class="input-group">
                <label for="telefone">Telefone</label>
                <div class="input-wrapper">
                    <i data-lucide="phone" class="input-icon" size="20"></i>
                    <input type="text" id="telefone" name="telefone" 
                           placeholder="(00) 00000-0000" maxlength="15" required>
                </div>
            </div>

            <div class="input-group">
                <label for="password">Senha</label>
                <div class="input-wrapper">
                    <i data-lucide="lock" class="input-icon" size="20"></i>
                    <input type="password" id="password" name="senha_hash" placeholder="••••••••" required>
                </div>
            </div>

            

            <button type="submit" class="btn-login" id="regBtn">
                Finalizar Cadastro
            </button>
        </form>

        <div class="form-footer">
            <p>Já tem uma conta? <a href="/">Faça Login</a></p>
            <p>© 2026 Supersonic Tecnologia.</p>
        </div>
    </div>

    <script>
        lucide.createIcons();
        const inputTelefone = document.getElementById('telefone');

    inputTelefone.addEventListener('input', (e) => {
        let valor = e.target.value;
        
        // Remove tudo que não for número
        valor = valor.replace(/\D/g, ""); 
        
        // Formatação dinâmica
        if (valor.length > 0) {
            // Adiciona os parênteses do DDD
            valor = "(" + valor;
            if (valor.length > 3) {
                valor = valor.slice(0, 3) + ") " + valor.slice(3);
            }
            // Adiciona o hífen após o quinto dígito do número
            if (valor.length > 10) {
                valor = valor.slice(0, 10) + "-" + valor.slice(10, 14);
            }
        }
        
        e.target.value = valor;
    });
    </script>
</body>
</html>